<!-- <nb-layout>

  <nb-layout-header fixed>
  Insert header here
  </nb-layout-header>

  <nb-layout-column> -->

    <!-- <h2>app</h2> -->
    <app-user-dashboard></app-user-dashboard>
    <!-- <router-outlet></router-outlet> -->
  <!-- </nb-layout-column>

  <nb-layout-footer fixed>
  Insert footer here
  </nb-layout-footer>

</nb-layout> -->
<!-- <nb-layout>
  <nb-layout-header fixed>Company Name</nb-layout-header>

  <nb-sidebar>Sidebar Content</nb-sidebar>

  <nb-layout-column>
    Page Content <button nbButton>Hello World</button>
  </nb-layout-column>
</nb-layout> -->